html {
  overflow-x: hidden;
}

.main-image {
  margin-top: 50px;
  margin-bottom: 50px;

  width: 400px;
}

h3.subtitle {
  font-weight: 500;
  color: #fff;
  font-size: 36px;
  margin-bottom: 30px;
  -moz-animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

@media screen and (max-width: 992px) {
  h3.subtitle {
    font-size: 28px;
  }
}

.project-home-grid div:nth-last-child(-n + 2) {
  padding-bottom: 0;
}

@media screen and (max-width: 576px) {
  .project-home-grid div:nth-last-child(-n + 2) {
    padding-bottom: 15px;
  }
}

.home-projects-list {
  margin-bottom: 40px;
}

.home-projects-list li {
  margin-bottom: 10px;
}

@media screen and (max-width: 1040px) {
  .project-section {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 576px) {
  .project-section {
    padding-left: 0;
    padding-right: 0;
  }
}
